@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #0F1026;
    --clr-main-light: rgb(116, 122, 219);
    --clr-btn: #667BF2;
    --clr-white: #ececec;
    --clr-gray: #e4e7f295;
    --clr-gray-light: #e4e7f2ed;
    --clr-cream-pastel: #FFEBE1;
    --clr-cream-pastel-dark: #febfb7b5;
    --clr-yellow: #F2BB16;
    --clr-red-dark: rgb(136, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside{
    padding: 2rem;
    padding-left: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-gray);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    transition: font-size .1s, padding .1s;
    align-items: center;
}

.boton-menu.active{
    color: var(--clr-white);
    text-shadow: 0 0 2.5px var(--clr-gray-light);
    width: 100%;
}

.boton-menu:hover{
    font-size: 1.1rem;
    padding: 1.1rem;
}

.boton-menu.active::after{
    content: "";
    box-shadow: 0 0 5px;
    position: absolute;
    width: .2rem;
    height: 1.5rem;
    bottom: left;
    left: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--clr-white);
}

.boton-carrito{
    margin-top: 2rem;
}

.numerito{
    background-color: var(--clr-btn);
    padding: .2rem;
    color: var(--clr-white);
    border-radius: .5rem;
}

.logo{
    color: var(--clr-gray-light);
    margin-left: 1rem  ;
}
.logo span{
    color: var(--clr-yellow);
}

.texto-footer{
    color: var(--clr-main-light);
    margin-left: 1rem;
}

main{
    background-color: var(--clr-white);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    padding: 2.5rem; 
}

.titulo-principal{
    color: var(--clr-main);
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-detalles{
    background-color: var(--clr-main);
    color: var(--clr-cream-pastel);
    margin-top: -2rem;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-agregar{
    font-size: 1rem;
    border: 0;
    background-color: var(--clr-cream-pastel);
    color: var(--clr-main);
    border-radius: 2rem;
    padding: .6rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color 0.2s, color .2s, padding .1s;
}
.producto-agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-cream-pastel);
    padding: .7rem;
}





/* CARRITO */



.carrito-vacio,
.carrito-comprado{
    color: var(--clr-main-light);
    margin: 1rem;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main-light);
    padding: .5rem;
    border-radius: 1rem;
    padding-right: 1.5rem;
}

.carrito-producto-img{
    width: 8rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: .75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: var(--clr-red-dark);
    cursor: pointer;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main-light);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-der{
    display: flex;
}

.carrito-acciones-total{
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main-light);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem   ;
}

.carrito-acciones-comprar{
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled{
    display: none;
}