.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    width: 100%;
    top: 0;
    position: fixed;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    padding: 1rem;
}