#root {
  background-color: black;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.app {
  margin-top: 3rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, a, input, ul, li{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

ul{
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
